:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: black;
}

.game {
  display: grid;
  padding: 1em;

  > * {
    grid-area: 1/-1;
    max-width: 100%;
    max-height: 100%;
  }

  > .modal {
    display: none;
    z-index: 2;
    color: white;
    font-weight: bold;

    &.active {
      display: flex;
    }

    > .modal__content {
      margin: auto;
      text-align: center;
      padding: 1em;
      color: black;
      background-color: rgba(255, 255, 255, 0.9);
      max-width: 300px;
      width: 100%;
      border-radius: 0.5em;

      > * {
        margin: 0;
      }

      > .modal__score__label {
        color: lightslategrey;
        font-size: 0.8rem;
        line-height: 0.2em;
      }

      > .start-game {
        margin-top: 1.5em;
        border: 0;
        border-radius: 0.5em;
        background-color: hsl(210, 50%, 50%);
        cursor: pointer;
        color: white;
        padding: 0.5em;
        width: 100%;
        transition: background-color 0.3s linear;

        &:hover {
          background-color: hsl(210, 50%, 45%);
        }
      }
    }
  }

  > .game__score {
    z-index: 1;
    user-select: none;
    color: white;
  }
}
